
body {
    background-color: #EAF6F6;
}
hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width:5%;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #66bfbf;
}
   h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #66bfbf;
   }